# Runs build related jobs.

name: build

# Limits workflow concurrency to only the latest commit in the PR.
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

on:
  push:
    branches: [main, next]
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  no-std:
    name: Build for no-std (${{matrix.backend}})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, nightly]
        backend: [winterfell, plonky3]
    steps:
      - uses: actions/checkout@main
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Build for no-std
        run: |
          rustup update --no-self-update ${{ matrix.toolchain }}
          rustup default ${{ matrix.toolchain }}
          rustup target add wasm32-unknown-unknown
          make build-no-std BACKEND=${{matrix.backend}}
