# Generates and deploys crate documentation to GitHub Pages

name: docs

on:
  push:
    branches:
      - next
    paths:
      - "**.rs"
      - "Cargo.toml"
      - "Cargo.lock"
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  docs:
    name: Generate and deploy crate documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner

      - name: Install LLVM/Clang
        uses: ./.github/actions/install-llvm
        with:
          version: "17"

      - name: Generate documentation
        run: |
          rustup update --no-self-update
          rustup default stable
          make doc

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # pin@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          destination_dir: docs
