# Runs test related jobs.

name: test

# Limits workflow concurrency to only the latest commit in the PR.
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

on:
  push:
    branches: [main, next]
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  test:
    name: test ${{matrix.toolchain}} on ${{matrix.os}} with ${{matrix.args}} (${{matrix.backend}})
    runs-on: ${{matrix.os}}-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, nightly]
        os: [ubuntu]
        args: [default, hashmaps, no-std, large-smt]
        backend: [winterfell, plonky3]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@main
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - uses: taiki-e/install-action@nextest
      - name: Install LLVM/Clang
        if: ${{ matrix.args == 'large-smt' }}
        uses: ./.github/actions/install-llvm
        with:
          version: "17"
      - name: Perform tests
        run: |
          rustup update --no-self-update ${{matrix.toolchain}}
          rustup default ${{ matrix.toolchain }}
          make test-${{matrix.args}} BACKEND=${{matrix.backend}}

  test-smt-concurrent:
    name: test-smt-concurrent ${{ matrix.toolchain }} (${{matrix.backend}})
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' && (github.base_ref == 'main' || github.base_ref == 'next') }}
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, nightly]
        backend: [winterfell, plonky3]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@main
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - uses: taiki-e/install-action@nextest
      - name: Perform concurrent SMT tests
        run: |
          rustup update --no-self-update ${{matrix.toolchain}}
          rustup default ${{ matrix.toolchain }}
          make test-smt-concurrent BACKEND=${{matrix.backend}}

  doc-tests:
    name: doc-tests (${{matrix.backend}})
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' && (github.base_ref == 'main' || github.base_ref == 'next') }}
    strategy:
      fail-fast: false
      matrix:
        backend: [winterfell, plonky3]
    steps:
      - uses: actions/checkout@main
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - uses: Swatinem/rust-cache@v2
      - name: Install LLVM/Clang
        uses: ./.github/actions/install-llvm
        with:
          version: "17"
      - name: Run doc-tests
        run: |
          rustup update --no-self-update
          rustup default ${{ matrix.toolchain }}
          make test-docs BACKEND=${{matrix.backend}}
